
.modal {
    width: auto;
    max-width: 800px;
    height: auto;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
    background-color: rgba(var(--callout-rgb), 1);
    border: 2px solid rgba(var(--callout-border-rgb), 0.7);
    border-radius: var(--border-radius);
    padding: 10px;
}

.modal_body {
  padding: 10px;
}

.modal_header {
  display: flex;
  font-size: 15px;
  font-family: var(--font-mono);
}

.modal_title {
  float: left;
  width: 95%;
  text-align: center;
  font-size: 15px;
  font-family: var(--font-mono);
  margin-bottom: 0.2rem;
}

.modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--callout-rgb), 0);
  z-index: 3;
}

.modal_close {
  float: right;
  width: 5%;
}

.close {
  cursor: pointer;
  padding: 0.2rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.7);
  border-radius: var(--border-radius);
}